//-customer list page
extends layout

block content
  .container-fluid
    .row
      .col-md-12.text-center
        p coustomer list page here:
        p server Timeis #{stime}
        p #{rows}
        p #{len}
